In [1]:
import numpy as np
import pandas as pd

In [3]:
#Níveis de índice
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
inside

[1, 2, 3, 1, 2, 3]

In [8]:
hier_index = list(zip(outside, inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [10]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [12]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A', 'B'])
df

             A         B
G1 1 -1.207557  1.952180
   2  0.704363 -0.143856
   3 -0.319271  0.471745
G2 1  1.367245 -0.390613
   2  0.004530 -0.051245
   3 -0.941976  0.398858

In [28]:
df.loc['G1'].loc[0:1]

          A        B
1 -1.207557  1.95218

In [31]:
df.index.names = ['Grupo', 'Número']
df

                     A         B
Grupo Número
G1    1      -1.207557  1.952180
      2       0.704363 -0.143856
      3      -0.319271  0.471745
G2    1       1.367245 -0.390613
      2       0.004530 -0.051245
      3      -0.941976  0.398858

In [37]:
df.xs('G1')

               A         B
Número
1      -1.207557  1.952180
2       0.704363 -0.143856
3      -0.319271  0.471745

In [39]:
df.xs(1, level='Número')

              A         B
Grupo
G1    -1.207557  1.952180
G2     1.367245 -0.390613